[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT= cart.saikumar22.store
Environment=DB_HOST= mongodb.saikumar22.store
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
